<module>
	<rawname>ivr</rawname>
	<name>IVR</name>
	<version>2.4.0</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<ivr>Digital Receptionist</ivr>
	</menuitems>
	<location>release/2.2/ivr-2.4.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-IVR</info>
	<md5sum>bc23f78223dd036208407f8808894140</md5sum>
</module>
