<module>
	<rawname>ivr</rawname>
	<name>IVR</name>
	<version>2.5.1</version>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<description>
		Creates Digital Receptionist (aka Auto-Attendant, aka Interactive Voice Response) menus. These can be used to send callers to different locations (eg, "Press 1 for sales") and/or allow direct-dialing of extension numbers. 
	</description>
	<changelog>
		    *2.5.1* Changed name to IVR (from Digital Receptionist)
		    *2.5* First release for FreePBX 2.2 - Fixed compatibility issue with new UI
	       </changelog>
	<menuitems>
		<ivr>IVR</ivr>
	</menuitems>
	<location>release/2.2/ivr-2.5.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-IVR</info>
	<md5sum>941521d6220ee55b4e1ffaa4d53e25d1</md5sum>
</module>
